/* 導覽列 */
.sticky_nav_bar {
  position: sticky;
  display: inline-block;
  left: 2vw;

  z-index: 5;
}

.nav-bar-right {
  box-sizing: border-box;
  height: 90vh;
  top: 5vh;

  width: 10vw;
  display: flex;
  flex-direction: column;
  row-gap: 10vh;
  align-items: center;

  padding: 5vh 0;

  background-color: rgb(255, 255, 255);
  box-shadow: 0px 20px 30px rgb(0 0 0 / 10%);
  opacity: 0;

  transition: 1s;
}

.sticky_nav_bar_margin {
  margin-top: calc(-90vh);
}

.nav-bar-box:hover .nav-bar-right {
  opacity: 1;

  transition: 1s;
}

.sub-logo img {
  aspect-ratio: 1/1;
  height: 15vh;
}

.nav-bar-right nav {
  width: 70%;

  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-nav {
  /* outline: 1px solid black; */

  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1vh;
}

.main-nav li {
  /* outline: 1px solid black; */
  height: 5vh;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.main-nav li:hover {
  background-color: rgba(141, 141, 141, 0.8);
}

.main-nav li:hover a {
  color: rgb(255, 255, 255);
}

/* page-header */
.page-header {
}

.page-title {
  background-color: rgb(255, 255, 255);
  aspect-ratio: 1/1;
  height: 45vh;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 10vh;
  right: 10%;
}

.page-title-box {
  aspect-ratio: 1/1;
  height: 30vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.page-title-box span {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 30vh;

  font-family: "title-font";
  font-size: 5vh;
  letter-spacing: 1vh;
}

.page-banner {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.page-banner div {
  /* background-color: #fff; */

  height: 50vh;
  width: 100%;

  background-image: url(/img/product-img/seafood-g6f5ea29d9_1280.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

  background-color: rgba(226, 183, 183, 0.3);
  background-blend-mode: color-dodge;

  box-shadow: 5px 5px 60px black inset;
}

/* QQQQ */
.carousel {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: 15%;
  margin-top: 5%;
}

.c_container {
  width: 100%;
  max-width: 1200px;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  height: 110vh;
}

input[type="radio"] {
  display: none;
}

.c_text {
  display: none;
}

.c_cards {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

.c_card {
  aspect-ratio: 4/3;
  height: 30vh;

  position: absolute;
  left: 0;
  right: 0;
  margin: auto;

  transition: transform 0.4s ease;
  cursor: pointer;
}

.c_img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

#item-1:checked ~ .c_cards #boat-5,
#item-2:checked ~ .c_cards #boat-1,
#item-3:checked ~ .c_cards #boat-2,
#item-4:checked ~ .c_cards #boat-3,
#item-5:checked ~ .c_cards #boat-4 {
  transform: translatex(-60%) scale(0.8);
  opacity: 0.8;
  z-index: 0;
}

#item-1:checked ~ .c_cards #boat-2,
#item-2:checked ~ .c_cards #boat-3,
#item-3:checked ~ .c_cards #boat-4,
#item-4:checked ~ .c_cards #boat-5,
#item-5:checked ~ .c_cards #boat-1 {
  transform: translatex(60%) scale(0.8);
  opacity: 0.8;
  z-index: 0;
}

#item-1:checked ~ .c_cards #boat-4,
#item-2:checked ~ .c_cards #boat-5,
#item-3:checked ~ .c_cards #boat-1,
#item-4:checked ~ .c_cards #boat-2,
#item-5:checked ~ .c_cards #boat-3 {
  transform: translatex(-100%) scale(0.6);
  opacity: 0.6;
  z-index: -1;
}

#item-1:checked ~ .c_cards #boat-3,
#item-2:checked ~ .c_cards #boat-4,
#item-3:checked ~ .c_cards #boat-5,
#item-4:checked ~ .c_cards #boat-1,
#item-5:checked ~ .c_cards #boat-2 {
  transform: translatex(100%) scale(0.6);
  opacity: 0.6;
  z-index: -1;
}

#item-1:checked ~ .c_cards #boat-1,
#item-2:checked ~ .c_cards #boat-2,
#item-3:checked ~ .c_cards #boat-3,
#item-4:checked ~ .c_cards #boat-4,
#item-5:checked ~ .c_cards #boat-5 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
}

#item-1:checked ~ .c_cards #boat-1 p,
#item-2:checked ~ .c_cards #boat-2 p,
#item-3:checked ~ .c_cards #boat-3 p,
#item-4:checked ~ .c_cards #boat-4 p,
#item-5:checked ~ .c_cards #boat-5 p {
  display: block;
}

#item-1:checked ~ .c_cards #boat-1 img,
#item-2:checked ~ .c_cards #boat-2 img,
#item-3:checked ~ .c_cards #boat-3 img,
#item-4:checked ~ .c_cards #boat-4 img,
#item-5:checked ~ .c_cards #boat-5 img {
  box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
}

.c_booking {
  background: #fffffa;
  box-shadow: 0px 0px 3.5px 2px rgba(0, 0, 0, 0.25);

  width: 80%;
  padding: 16px 10px;
}

.upper-part {
  position: relative;
  display: flex;

  margin-bottom: 12px;
  height: 60px; /* 重要 */
  overflow: hidden;
}

.info-area {
  width: 60%;
  position: absolute;
  top: 0;
  left: 20%;
  /* right: 0;
  margin: auto; */
  transition: transform 0.4s ease-in;
}

.song-info {
  width: 100%;
  display: block;
}

.song-info .title {
  color: #403d40;
  font-size: 38px;
  line-height: 42px; /* 重要 */
}

.sub-line {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.subtitle,
.type {
  font-size: 16px;
  line-height: 18px; /* 重要 */
  color: #c6c5c6;
}

.type {
  font-size: 16px;
  line-height: 18px; /* 重要 */
  color: #a5a5a5;
  font-weight: 500;
  margin-left: auto;
}

#item-2:checked ~ .c_booking #test {
  transform: translateY(0);
}

#item-2:checked ~ .c_booking #test {
  transform: translateY(-60px);
}

#item-3:checked ~ .c_booking #test {
  transform: translateY(-120px);
}

#item-4:checked ~ .c_booking #test {
  transform: translateY(-180px);
}

#item-5:checked ~ .c_booking #test {
  transform: translateY(-240px);
}

.c_booking_paper {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  row-gap: 28px;
}

.paper_column {
  display: flex;
  column-gap: 10%;
}

.paper_column h3 {
  margin-left: 20%;
  text-align: center;
  font-size: 28px;
}

.paper_column input {
  width: 40%;

  align-self: center;

  height: 32px;
}
